.missions-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.missions-card-section {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 75%;
}
